// If we use those two in other components we could move them in the __constants file
:root {
  --horizontal-gap: 20px;
  --vertical-gap: 16px;
}

.alert {
  align-items: start;
  background-color: #fff;
  border: 1px solid #DADDE0;
  border-left: 4px solid transparent;
  border-radius: 2px;
  column-gap: var(--horizontal-gap);
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  justify-content: space-between;
  padding: var(--vertical-gap) var(--horizontal-gap);
  row-gap: var(--vertical-gap);
}


/**
 * Variations by type
 */
.alert--info {
  border-left-color: var(--color-info);
}
.alert--warning {
  border-left-color: var(--color-warning);
}
.alert--error {
  border-left-color: var(--color-error);
}
.alert--success {
  border-left-color: var(--color-success);
}
.alert--tip {
  border-left-color: var(--color-tip);
}


/**
 * Children elements
 */
.alert__content {
  align-self: center;
  display: grid;
  font-size: 12px;
  grid-gap: 8px; // if this is dependend on the 16px vertical padding then we could use calc(var(--vertical-gap) / 2);
  justify-items: start;
}

.alert__text {
  margin: 0;
}

.alert__action {
  align-items: center;
  column-gap: var(--horizontal-gap);
  display: grid;
  grid-auto-flow: column;
  height: 24px; // Needed in order to always be aligned vertically with the alert icon
}

.alert__close {
  height: 12px;
  width: 12px;
}
